<div class="text-center">
      <h1>Editing Book</h1>
      <ul class="list-unstyled"><%= form_for(@book) do |f| %>
        <li><% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
        <% @book.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %></li>
        <% end %>
        <h3>title</h3>
        <li><%= f.text_field :title,class: "book_title" %></li>
        <h3>body</h3>
        <li><%= f.text_area :body,class: "book_body" %></li>
        <li><%= f.submit %></li>
        <% end %>
      </ul>
      <%= link_to "show", book_path(@book.id), class: "book_#{@book.id}" %>
      <%= link_to "Back", books_path, class: "back" %>
</div>